body {width:800px;margin:0 auto;}

#panel_numeros, #carton{
	text-align:center;
}
#texto_inicio {
	background-color:orange;
	color:white;
	font-size:2em;
	border:2px solid black;
}
#numero_actual {
	background-color:white;
	color:blue;
	font-size:4em;
	border:2px solid blue;
	width:2em;
}
.rojo {background-color:red;}
.amarillo {background-color:yellow;}
.inputstyle {font-family: Arial; font-size: 1em;}
#carton td {vertical-align: center;background-color:black;width:1em;text-align:center;}
#panel_numeros td {width:1.5em;text-align:center;font-size:1.5em;}
button {font-size:2em;}